version: "3.8"
services:
  web:
    container_name: laravel-web
    build:
      context: .
      dockerfile: docker/prod/nginx/Dockerfile
    ports:
      - "8080:80"
    user: "1000:1000"
    links:
      - php

  php:
    container_name: laravel-php
    build:
      context: .
      dockerfile: docker/prod/php/Dockerfile
    user: "1000:1000"
    environment:
      - APP_ENV=production
      - APP_DEBUG=0

  db:
    container_name: shorty-db
    image: mysql:8.0.33
    environment:
      MYSQL_DATABASE: shorty
    volumes:
      - db:/var/lib/mysql

volumes:
  db:
