parameters:
    level: max
    paths:
        - app
        - tests
    ignoreErrors:
        - '#^Access to an undefined property Illuminate\\Database\\Eloquent.+$#'
        - '#^Call to an undefined method Illuminate\\Database\\Eloquent.+$#'
        - '#^Call to an undefined static method .+?::create\(\)\.$#'
        -
            message: '#Undefined variable: \$this#'
            path: tests/*
        -
            message: '#^Call to an undefined method Mockery\\.+?$#'
            path: tests/*
        -
            message: '#^.+?::toBeInstanceOf\(\) expects class-string, string given.$#'
            path: tests/*
