name: Run tests

on: [push, pull_request, workflow_dispatch]

permissions:
  contents: read

jobs:
  test-php:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up BuildX
        uses: docker/setup-buildx-action@v2

      - name: Set up .env file
        run: cp .env.example .env

      - name: Generate encryption key
        run: php artisan key:generate

      - name: Prepare test Docker image
        run: make build-dev

      - name: Run tests
        run: make test

  test-dev-php-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up BuildX
        uses: docker/setup-buildx-action@v2

      - name: Build Docker image for PHP
        uses: docker/build-push-action@v3
        with:
          context: ./docker/dev/php

  test-dev-nginx-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up BuildX
        uses: docker/setup-buildx-action@v2

      - name: Build Docker image for web
        uses: docker/build-push-action@v3
        with:
          context: ./docker/dev/nginx

  test-prod-php-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up BuildX
        uses: docker/setup-buildx-action@v2

      - name: Build Docker image for PHP
        uses: docker/build-push-action@v3
        with:
          context: .
          file: docker/prod/php/Dockerfile

  test-prod-nginx-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up BuildX
        uses: docker/setup-buildx-action@v2

      - name: Build Docker image for web
        uses: docker/build-push-action@v3
        with:
          context: .
          file: docker/prod/nginx/Dockerfile
